# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Compiled class file
*.class

# Log files
*.log
log/
logs/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/
.factorypath

# NetBeans
nbproject/
nbactions.xml
nb-configuration.xml

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Quarkus
.quarkus/
quarkus.log

# H2 Database
*.db
*.trace.db
*.lock.db

# Misc
*.swp
*~
.directory

# Dev environment
dev-loja
*.pid
.env

# Utils Shell Scripts
**/utils
**/utils/** 